@CHARSET "ISO-8859-1";

/*Plantilla Principal*/

.cabecera{height: 10em;}
.cuerpo{height: 70%;}
.pie{height: 10%;}



/*Login*/
.panelInicioSesion{
	width: 25%;
	float: none;
	margin: 0 38% 0 38% ;
}

.panelInicioSesion button{
	margin-left: 35%;
}